#header {
    background-color: #6979b8;
}

#header > .container {
    /*height: 53px;*/
}

#header-logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.comment {
    border-bottom: 1px solid #e8e8e8;
    /*width: 400px;*/
    /*min-height: 100px;*/
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#header .nav a{
    color: #FFF;
}

#header .nav a:hover, #header .nav a:focus{
    color: #999;
}

.header {
    position: relative;
}

.comment .header {
    padding: 5px;
    background-color: #eee;
}

.comment .header .theme {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.comment .header .author {
    font-weight:bold;
    color: #6979b8;
}

.comment .header .time {
    position: absolute;
    top: 5px;
    right: 10px;
}

.comment .header .date {
    position: absolute;
    top: 5px;
    right: 60px;
}

.comment .header .by {
    position: absolute;
    top: 5px;
    right: 135px;
}


.comment .body {
    padding: 5px;
}

.danger-text {
    color: #F00;
}

/* talk cloud */
.triangle-border.left {
    margin-left: 30px;
    margin-right: 120px;
}
.triangle-border {
    position: relative;
    padding: 7px 0 0 10px;
    margin: 15px 0;
    border: 5px solid #51CEFA;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.triangle-border.left:before {
    top: 10px;
    bottom: auto;
    left: -30px;
    border-width: 15px 30px 15px 0;
    border-color: transparent #51CEFA;
}
.triangle-border:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #51CEFA transparent;
    display: block;
    width: 0;
}

.triangle-border.left:after {
    top: 16px;
    bottom: auto;
    left: -21px;
    border-width: 9px 21px 9px 0;
    border-color: transparent #fff;
}
.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.triangle-border.right {
    margin-right: 30px;
    border-color: #6979b8;
    margin-left: 120px;
}

.triangle-border.right:before {
    top: 10px;
    bottom: auto;
    left: auto;
    right: -30px;
    border-width: 15px 0 15px 30px;
    border-color: transparent #6979b8;
}

.triangle-border.right:after {
    top: 16px;
    bottom: auto;
    left: auto;
    right: -21px;
    border-width: 9px 0 9px 21px;
    border-color: transparent #fff;
}

#message-form.affix {
    position: fixed;
    top: 50px;
    padding-top: 20px;
    z-index: 10;
    width: 1140px;
    background-color: #FFF;
}

#header.affix {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 11;
}

.comment .time {
    position: absolute;
    top: 5px;
    right: 10px;
}
/* talk cloud */