<div id="header">
    <img id="header-logo" src="/img/logo.png">
    <div class="container">
            <div class="btn-group">
                <ul class="nav navbar-nav">
                    <li><a ng-href="/#chat">Chat</a></li>
                    <li class="active"><a ng-href="/#feed">Feed</a></li>
                </ul>
            </div>
    </div>

    <div ng-show="!isLoggedIn()" style="position: absolute; top: 0; right: 0">
        <div class="btn-group">
            <ul class="nav navbar-nav">
                <li><a ng-href="/#login">Login</a></li>
                <li class="active"><a ng-href="/#register">Register</a></li>
            </ul>
        </div>
    </div>
    <span ng-show="isLoggedIn()" style="position: absolute; right: 130px; top: 15px; color:#FFF">Welcome home, {{getUsername()}}!</span>
    <div ng-show="isLoggedIn()" style="position: absolute; top: 0; right: 0">
        <div class="btn-group">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>


</div>

<!--<div id="top">
    <div class="container">
        <div class="btn-group">
            <label ng-click="changeRoute('chat')" class="btn btn-primary" ng-model="radioModel" btn-radio="'Chat'">Chat</label>
            <label ng-click="changeRoute('feed')" class="btn btn-primary" ng-model="radioModel" btn-radio="'Feed'">Feed</label>
        </div>
    </div>
</div>-->